{#
<insertfile>_inc/summary.txt</insertfile>
#}

{% set module = 'module_customer_group_size' %}

{% set links = {
	'<i class="fa fa-home" aria-hidden="true"></i>'     : '<insertvar>MODLINK</insertvar>',
	'<i class="fa fa-opencart" aria-hidden="true"></i>' : '<insertvar>OCMLINK</insertvar>',
	'<i class="fa fa-github" aria-hidden="true"></i>'   : '<insertvar>GITLINK</insertvar>',
	'MIT License'                                       : '<insertvar>LICLINK</insertvar>',
	'<insertvar>EMAIL</insertvar>'                      : 'mailto:<insertvar>EMAIL</insertvar>?Subject=[OpenCart] <insertvar>MODNAME</insertvar>',
} %}

{% set cyear = '<insertvar>MODYEAR</insertvar>' != 'now'|date('Y') ? '-' ~ 'now'|date('Y') : '' %}
{% set copyright = '© <insertvar>AUTHOR</insertvar>, <insertvar>MODYEAR</insertvar>' ~ cyear %}
{% set version = 'Version <insertvar>MODVERS</insertvar>' %}

{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button
          class="btn btn-primary"
          data-toggle="tooltip"
          form="form-module"
          title="{{ button_save }}"
          type="submit">
          <i class="fa fa-save"></i>
        </button>
        <a
          class="btn btn-default"
          data-toggle="tooltip"
          href="{{ cancel }}"
          title="{{ button_cancel }}"><i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>
        {{ heading_title }}
      </h1>
      <br />
      <ul class="breadcrumb">
        {%- for breadcrumb in breadcrumbs -%}
        <li>
          <a href="{{ breadcrumb.href }}">
            {{ breadcrumb.text }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_permission %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_permission }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form
          action="{{ action }}"
          class="form-horizontal"
          enctype="multipart/form-data"
          id="form-module"
          method="post">
          <div class="form-group">
            <div class="btn-group btn-group-toggle col-sm-12" data-toggle="buttons" id="input-status">
                <label class="btn btn-default btn-enabled{% if status %} active btn-success{% endif %}">
                  <input
                    autocomplete="off"
                    name="module_customer_group_size_status"
                    type="radio"
                    value="1"
                    {% if status %}checked{% endif %}/>
                  {{ text_enabled }}
                </label>
                <label class="btn btn-default btn-disabled{% if not status %} active btn-danger{% endif %}">
                  <input
                    autocomplete="off"
                    name="module_customer_group_size_status"
                    type="radio"
                    value="0"
                    {% if not status %}checked{% endif %} />
                  {{ text_disabled }}
                </label>
            </div>
          </div>

          <div class="tab-content">
            <div class="col-sm-12 text-center">{{ text_about }}</div>
            <div class="text-center">
              {%- for name, url in links -%}
              <a href="{{ url }}" target="_blank">{{ name }}</a>{% if not loop.last %} | {% endif %}
              {% endfor %}
            </div>
            <hr/>
            <div class="text-center">{{ copyright }}</div>
            <div class="text-center">{{ version }}</div>
            <div class="text-center">{{ text_made }}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
$('input[type="text"]').on('input', function () {
    $(this).attr('value', $(this).val());
});

$('#input-status .btn.btn-default').click(function () {
    if (!$(this).hasClass('active')) {
        if ($(this).hasClass('btn-enabled')) {
            $('#input-status .btn.btn-default').removeClass('btn-danger');
            $(this).addClass('btn-success');
        }

        if ($(this).hasClass('btn-disabled')) {
            $('#input-status .btn.btn-default').removeClass('btn-success');
            $(this).addClass('btn-danger');
        }
    }
});
--></script>
{{ footer }}
